 body {
   background-color: SLATEGRAY;
 }
h1{
  color: red;
}
h3 { color: white;}
 hr {
   border-style: none;
   border-top: dotted;
   border-width: 10px;
   border-color: white;
   height: 0px;
   width: 30%;
 }
